$shadow :  rgba(0, 0, 0, 0.4);
* {
  box-sizing: border-box;
}
@mixin mix1 {
                    padding: 10px;
                    border: white solid 2px;
                    background-color: black;
                    color: white;
                    margin-top: 10px;
                    text-decoration: none;
                    &:hover {
                        background-color: white;
                        color: black;
                        border: black solid 2px;
                    }
}
@mixin mix2 {
                    padding: 10px;
                    border: black solid 2px;
                    background-color: white ;
                    color: black;
                    margin-top: 10px;
                    text-decoration: none;
                    &:hover {
                    background-color: black;
                    color: white;
                    border: white solid 2px;
                    }
}

.row::after {
    content: "";
    clear: both;
    display: block;
  }
  
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  
  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  }
.head {
    display: flex;
    justify-content: space-between;
    background-color: gainsboro;
    font-size: 20px;
    .text-left {
        width: 10%;
        margin-left: 6%;
        ul{
            display: flex;
            gap: 10px;
            li {
                list-style: none;
                border: black solid 1px;
                background-color: black;
                padding: 10px;
                border-radius: 100%;
                a {
                    text-decoration: none;
                    color: aliceblue;
                    &:hover {
                        color: orangered;
                    }
                }
                
             }
        }

    }
    .text-right {
        width: 30%;
       .mb-0 {
        display: flex;
        gap: 20px;
        span {
            a {
                text-decoration: none;
                color: black;
            }
        }
       } 
    }
}
header {
    display: flex;
    justify-content: space-around;
    div {
        h1 {
            font-size: 50px;
            a {
                text-decoration: none;
                color: black;
            }
        }
    }
    div {
        nav {
            ul {
                display: flex;
                gap: 50px;
                list-style: none;
                flex-wrap: wrap;
                font-size: 20px;
                margin-top: 50px;
            }
            li {
                a {
                    text-decoration: none;
                    color: black;
                &:hover {
                    color: orangered;
                }
            }
            }
        }
    }
}
@media only screen and (max-width: 768px) {
    header {
        margin-left: 10%;
    }
}

.shopp {
    background: rgba(0, 0, 0, 0.4) url(images/hero_2.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: overlay;
    max-width: 100%;
.shop {
    width: 70%;
    padding-top: 200px;
    padding-left: 10%;
    padding-bottom: 200px;
    h1 {
        font-size: 70px;
        color: aliceblue;
    }
    .shop1 {
        font-size: 25px;
        color: aliceblue;
    }
    .shop2 {
        button {
            font-size: 15px;
            padding: 30px;
            border: white solid 3px;
        }
        
    }
}
}
.shop3 {
    background: rgba(0, 0, 0, 0.2) ;
    color: aliceblue;
    &:hover {
    background-color: white;
    background-size: cover;
    background-attachment: fixed;
    color: black;
}
}
.shop4 {
    background-color: white;
    &:hover {
    background: rgba(0, 0, 0, 0.2);
    color: aliceblue;
    background-size: cover;
    background-attachment: fixed;
    }
}
.text-center {
    text-align: center;
    line-height: 5px;
    padding-top: 100px;
    h3 {
        color: $shadow ;
    }
    h2 {
        font-size: 40px;
    }
    p {
        margin: 0 30%;
        line-height: 20px;
        font-size: 20px;
        color: $shadow ;
    }
}
.img {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    text-align: center;
    margin-left: 10%;
    .product-item {
        margin-bottom: 50px;
        figure {
            margin-top: 50px;
            &:hover {
                border: orangered solid 5px;
            }
        }
        .px-4 {
            h3 {
                a {
                    text-decoration: none;
                    color: black;
                &:hover {
                    color: orangered;
                }
            }
            }
            div {
                display: grid;
                grid-template-columns: repeat(2, 20%);
                justify-content: center;
                .img1 {
                    @include mix1;
                }
                .img2 {
                    @include mix2;
                }
            }
            p {
                margin: 0 18%;
                color: $shadow ;
                margin-top: 10px;
            }
        }
    }
}
.img-fluid {
    max-width: 100%;
}
@media only screen and (max-width: 600px) {
    .img {
        display: flex;
        flex-wrap: wrap;
    }
    
}
@media only screen and (max-width: 900px) {
    .img {
        display: flex;
        flex-wrap: wrap;
    }
    
}

.overlay {
    @extend .shopp;
    padding: 5% 0%;
    text-align: center;
    color: aliceblue;
    font-size: 20px;
    margin: 100px 0;
    div {
        .rounded-0 {
            border: white solid 2px;
            padding: 20px 10px;
            font-size: 15px;
            background-color: $shadow;
            color: white;
        }
        .control {
            width: 300px;
        }
        .white {
            width: 100px;
        }
        .btn:hover {
            background-color: white;
            color: black;
        }
    }
    p {
        padding: 0 30%;
    }
}
.bg-light {
    background-color: gainsboro;
    padding-bottom: 100px;
}
.mx-4 {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 10px;
    margin: 5% 10%;
    background-color: white;
    .mb-5 {
        margin: 6%;
    }
    .product-title-wrap {
        margin: 6%;
        h3 {
            font-size: 30px;
        }
        p {
        font-size: 18px;
        color: $shadow
        }
        div {
            h3 {
                font-size: 25px;
            }
        }
        nav {
            margin-top: 50px;
            .rounded-0 {
            @include mix1;
            }
            .rounded-1 {
                @include mix2;
            }
        }
    }
}
@media only screen and (max-width: 900px) {
    .my-4 {
        display: flex;
        flex-wrap: wrap;
    }
}

.site {
    display: grid;
    grid-template-columns: 70% 30%;
    margin: 10% 10% 0;
    gap: 30px;
    div {
        div {
            border: greenyellow solid 1px;
            width: 450px;
            height: 150px;
            background-color: greenyellow;
            float: right;
            padding: 20px;
            .year {
                font-size: 50px;
            }
            .caption {
                font-size: 30px;
            }
        }
    }
    nav {
        padding-left: 70px;
        padding-top: 100px;
        h3 {
            color: $shadow;
        }
        h2 {
            font-size: 40px;
        }
        a {
            @include mix1 ;
        }
        p {
            color: $shadow;
            font-size: 20px;
            margin-bottom: 60px;
        }
    }
}
@media only screen and (max-width: 900px) {
    .site {
        display: flex;
        flex-wrap: wrap;
    }
}
.team {
    display: flex;
    margin: 0 10%;
    gap: 20px;
    div {
        div {
            text-align: center;
            img {
                margin: 0 30px;
                width: 70%;
            }
            h3 {
                color: $shadow;
            }
            p {
                color: $shadow;
            }
            .position {
                color: gainsboro;
            }
            .mb-4 {
                font-size: 20px;
            }
            ul{
                display: flex;
                gap: 10px;
                margin: 0 25%;
                li {
                    list-style: none;
                    border: black solid 1px;
                    background-color: black;
                    padding: 10px;
                    border-radius: 100%;
                    a {
                        text-decoration: none;
                        color: aliceblue;
                        &:hover {
                            color: orangered;
                        }
                    }
                    
                 }
            }
        }
    }
}
@media only screen and (max-width: 900px) {
    .team {
        display: flex;
        flex-wrap: wrap;
    }
}
.site-blocks-cover {
    div {
        h2 {
            font-size: 50px;
        }
    }
    p {
        margin-bottom: 50px
    }
    a{
        @include mix2;
    }
}
@mixin mi {
        text-decoration: none;
        color: orangered;
        &:hover {
            color: orange;
        }
}
.align-items-stretch {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    gap: 30px;
    margin-left: 10%;
    color: $shadow;
    font-size: 20px;
    div {
        div {
            div {
                a {
                    @include mi;
                }
            }
        }
    }
}
@media only screen and (max-width: 900px) {
.align-items-stretch {
    display: flex;
    flex-wrap: wrap;
}
}
.owl-carousel {
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    div {
        .testimonial {
            figure {
                div {
                    img {
                        border-radius: 100%;
                        width: 60%;
                    }
                }
            }
        }
    }
}
.blog {
    margin-bottom: 50px;
}
.mb {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    gap: 20px;
    margin-left: 10%;
    margin-top: 50px;
    div {
        div {
            h2 {
                a {
                    text-decoration: none;
                    color: black;
                }
            }
            p {
                color: $shadow;
                a {
                    @include mi;
                }
            }
            div {
                color: $shadow;
                a {
                    @include mi;
                }
            }
        }
    }
}
@media only screen and (max-width: 900px) {
    .mb {
        display: flex;
        flex-wrap: wrap;
    }
}
.justify {
    background-color: aliceblue;
    margin: 0 30%;
    padding: 50px;
    font-size: 20px;
}
.form-group {
    div {
        .py-3 {
            @include mix1;
        }
    }
}
footer {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    gap: 10px;
    margin: 10%;
    font-size: 20px;
    div {
        ul {
            line-height: 30px;
        }
        li {
            list-style: none
        }
        a {
            text-decoration: none;
            color: $shadow;
            &:hover {
                color: black;
            }
        }
        p {
            color: $shadow;
        }
    }
    nav {
        p{
        a {
            @include mix1;
        }
    }
    }
}
@media only screen and (max-width: 900px) {
    footer {
        display: flex;
        flex-wrap: wrap;
    }
}